body {

background-image: -ms-radial-gradient(center, circle farthest-corner, #0992C2 0%, #003A57 100%);

/* Mozilla Firefox */
background-image: -moz-radial-gradient(center, circle farthest-corner, #0992C2 0%, #003A57 100%);

/* Opera */
background-image: -o-radial-gradient(center, circle farthest-corner, #0992C2 0%, #003A57 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #0992C2), color-stop(1, #003A57));

/* Webkit (Chrome 11+) */
background-image: -webkit-radial-gradient(center, circle farthest-corner, #0992C2 0%, #003A57 100%);

/* W3C Markup, IE10 Release Preview */
background-image: radial-gradient(circle farthest-corner at center, #0992C2 0%, #003A57 100%);
	background-attachment: fixed;

	margin: 0px;
	padding: 0px;
	
	
}

.menuTop {
	background-color: #0A192C;
	height: 70px;
	width: 100%;
	padding-top: 10px;

}


.headerImage img{
		width: 270px;
		height: 60px;
		float: left;
		margin-bottom: 20px;
}

.menuTop li {

	font-size: 20px;
	background: transparent;
	display: block;
	height: 35px;

	text-align: center;

	float: left;

	
	color: white;

	margin-left: 25px;

	border: 0px solid white;
	border-radius: 10px;

	font-family: 'Tahoma','serif';
	letter-spacing: 3px;

	opacity: 0.8;


}

.menuTop a {
	color: white;
	text-decoration: none;


}

.menuTop a:hover {

	cursor: pointer;


	color: orange;

	transition: color 1s ease;
}

#menu2 li.slide-line {
	display: block;
	padding:0;
	margin:0;
	background: none orange;
	position: absolute;
	top: 0;
	width: 43px; 
	height: 6px; 
	left: 60px;
	top: 40px;
	z-index: 0;
	float: left;
}

#box2 {
	position: relative;

	float: right;
	padding: 0 0 0 0;
}

#menu2 li.logoutButton {
	font-size: 20px;

	display: block;
	height: 25px;

	text-align: center;

	float: right;

	padding-left: 10px;
	padding-right: 10px;

	color: white;

	margin-left: 80px;
	margin-right: 20px;

	border: 0px solid cyan;
	border-radius: 5px 5px 5px 5px;
	opacity: 0.8;

	font-family: 'Tahoma','serif';
	letter-spacing: 3px;
}

.menuTop ul {
	list-style: none;
	padding-left: 0;
	list-style-position: inside;
}

.logoutButton:hover {
	cursor: pointer;
}


.content {
	height: 100%;
	width: 900px;

	background: rgba(204, 204, 204, 0.1);

	margin: 0 auto;
	margin-top: 120px;

	z-index:2;

	border-radius: 20px 20px 20px 20px;

}

.bigLetter {
		z-index:1;
	color: #84804A;
	font-size: 150px;
	position: absolute;
	margin: -110px 0 0 -70px;


}

.bigLetterStaff {
        z-index:1;
    color: #84804A;
    font-size: 150px;
    position: absolute;
    margin: -110px 0 0 -50px;


}

.bigLetterMeal {
        z-index:1;
    color: #84804A;
    font-size: 150px;
    position: absolute;
    margin: -110px 0 0 -80px;


}




.restOfLetters {
		font-size: 70px;
		position: absolute;
		z-index:1;
		margin: -55px 0 0 40px;
		color: #003753;

}

.restOfLettersMeal {
        font-size: 70px;
        position: absolute;
        z-index:1;
        margin: -55px 0 0 60px;
        color: #003753;

}

.restOfLettersReport {
        font-size: 70px;
        position: absolute;
        z-index:1;
        margin: -55px 0 0 40px;
        color: #003753;

}


.restOfLettersStaff {
        font-size: 70px;
        position: absolute;
        z-index:1;
        margin: -55px 0 0 40px;
        color: #003753;

}







.subMenu {
	width: 830px;
	height: 50px;
	display: block;


	margin: 0 auto;

	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 70px;
	border-radius: 20px 20px 0px 0px;
}

.subButton {

	margin-top: 20px;
		font-size: 22px;
	background: transparent;
	display: block;
	height: 35px;

	text-align: center;

	float: left;
	text-decoration: none;
	
	color: orange;
	margin-left: 25px;

	border: 0px solid white;
	border-radius: 10px;

	font-family: 'Tahoma','serif';
	letter-spacing: 3px;

	opacity: 0.8;

}

.subButton:hover {
	cursor: pointer;
	color: white;

	transition: color 1s ease;
}

.buttonHover {
	height: 40px;
	width: 40px;
	text-align: center;

}

.login_header_logo {
	margin: 0 auto;
	width: 700px;
	margin-top: 40px;
}

.viewContainer {
	padding-bottom: 30px;
	width: 800px;
	margin: 0 auto;
	font-size: 20px;
	font-family: 'Tahoma';
	color: black;
}

.reportContainer {
	width: 700px;
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;

}

.tableView {
	border: 1px solid black;
	width: 300px;
	table-layout: fixed;
	margin: 0 auto;
}

.tableView td, th{
	border: 1px solid black;
	text-align: center;
}

.tableView td {
	opacity: 0.8;

}

.instructions {
	font-size: 20px;
	opacity: 0.8;
	font-family: 'Tahoma';

}

#domobj {
	display: none;
}

#addForm {

	min-width: 500px;
	width: 600px;	
	background-color: #08718E;
	border-radius: 10px 10px 10px 10px;

	/*box-shadow: 0px 0px 3px 3px #0A192C;*/
	box-shadow: 0px 0px 2px 2px #84D8F4;

}

.addFormHeaderText {
	padding: 0;
	margin: 0;
	font-family: 'Tahoma';
	color: orange;
}

#addFormFooter {
	width: 100%;
	height: 45px;
	background-color: #0A192C;
	border-radius: 0px 0px 7px 7px;
	padding-top: 10px;
}

#addFormHeader {
	border-radius: 7px 7px 0px 0px;
	height: 60px;
	padding-left: 0px;
	padding-top: 5px;
	background-color: #08718E;
	text-align: center;
	opacity: 0.8;

}

.formInstructions {
	padding: 0;
	margin-bottom: 10px;

	font-weight: bold;
	color: #FAFFBD;



	margin-top: 0px;
	font-family: 'Tahoma';

}

.formFieldName {
	font-family: 'Tahoma';
	font-weight: bold;
	font-size: 14px;
	padding: 0;
	margin-left: 0px;
	display: inline;

	color: black;

	opacity: 0.6;

}

#formContentContainer {
	padding-left: 30px;
	padding-right: 40px;
	padding-top: 10px;

}

.formDetails {
	width: 100%;
	height: 30px;
	font-size: 16px;
	font-family: 'Tahoma';
	border-radius: 10px 10px 10px 10px;
	outline: none;
	border: none;
	padding-left: 10px;
	background-color: #FAFFBD;
	margin-left: 100px;
	margin-right: 50px;

	margin: 0px;
	/*border: 1px solid #0A192C;*/
	border: 1px solid #FAFFBD;

	margin-bottom: 10px;
}

.formDetails:focus {
	box-shadow: 0 0 4px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
	outline: 0;
}

#addForm button {
	float: right;
	
	height: 30px;
	font-size: 18px;

	margin-left: 20px;

	border-radius: 20px 20px 20px 20px;
	outline: none;
	color: white;
	width: 100px;

	border: 0px solid white;
}

.formConfirmButton {
	background-color: transparent;
	margin-right: 20px;

}

.formCancelButton {
	background-color: transparent;

}

#addForm button:hover {
	cursor: pointer;

}

#addForm .formConfirmButton:hover {
	background-color: transparent;
	color: orange;
	transition: color 1s ease;

}

#addForm .formCancelButton:hover {
	background-color: transparent;
	color: deepskyblue;
	transition: color 1s ease;

}

#addForm textarea {
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-family: 'Tahoma';
    border-radius: 10px 10px 10px 10px;
    outline: none;
    border: none;
    padding-left: 10px;
	background-color: #FAFFBD;

    margin-left: 100px;
    margin-right: 50px;

    margin: 0px;
    /*border: 1px solid #0A192C;*/
    border: 1px solid #FAFFBD;

    margin-bottom: 10px;
}

#addForm textarea:focus {
    box-shadow: 0 0 4px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    outline: 0;
}


#addMealForm {

    min-width: 700px;
    width: 800px;
    background-color: #08718E;
    border-radius: 10px 10px 10px 10px;

    /*box-shadow: 0px 0px 3px 3px #0A192C;*/
    box-shadow: 0px 0px 2px 2px #84D8F4;

}


#addMealForm button {
    float: right;

    height: 30px;
    font-size: 18px;

    margin-left: 20px;

    border-radius: 20px 20px 20px 20px;
    outline: none;
    color: white;
    width: 100px;

    border: 0px solid white;
}

#addMealForm textarea {
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-family: 'Tahoma';
    border-radius: 10px 10px 10px 10px;
    outline: none;
    border: none;
    padding-left: 10px;
	background-color: #FAFFBD;

    margin-left: 100px;
    margin-right: 50px;

    margin: 0px;
    /*border: 1px solid #0A192C;*/
    border: 1px solid #FAFFBD;

    margin-bottom: 10px;
}

#addMealForm textarea:focus {
    box-shadow: 0 0 4px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    outline: 0;
}

#addMealForm button:hover {
    cursor: pointer;

}

#addMealForm .formConfirmButton:hover {
    background-color: transparent;
    color: orange;
    transition: color 1s ease;

}

#addMealForm .formCancelButton:hover {
    background-color: transparent;
    color: deepskyblue;
    transition: color 1s ease;

}

.mealdatetime {
	    width: 100%;
    height: 30px;
    font-size: 16px;
    font-family: 'Tahoma';
    border-radius: 10px 10px 10px 10px;
    outline: none;
    border: none;
    padding-left: 10px;
	background-color: #FAFFBD;

    margin-left: 50px;
    margin-right: 50px;

    margin: 0px;
    /*border: 1px solid #0A192C;*/
    border: 1px solid #FAFFBD;

    margin-bottom: 10px;



}

#component_addition {
	width: 300px;
	float: right;
    padding-left: 50px;
    padding-right: 50px;
	padding-bottom: 30px;
	padding-top: 30px;
}

#date_time_location {
	width: 300px;
	float: left;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-top: 30px;
}

#addMealFormFooter {
    width: 100%;
    float: right;
	height: 45px;
    background-color: #0A192C;
    border-radius: 0px 0px 7px 7px;
    padding-top: 10px;
	white-space: nowrap;
	display: inline-block;
}

#mealFormContentContainer {
	background-color: pink;
	width: 100%;
	height: auto;	
}

.location {
	height: 30px;
	width: 100%;
	margin: 3px 3px 3px 3px;
	font-family: 'Tahoma';
}

.mealNote {
    font-family: 'Tahoma';
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    margin-left: 0px;
    display: inline;

    color: #FAFFBD;


    opacity: 0.8;
}






#form_content_holder_for_create_meal{
	float: left;
	width: 300px;
	height: 500px;
	margin: 20px;
}

#submit_create_meal {
	vertical-align: bottom;
	float: right;

}

.will_indicate_on {
	background-color: green;
}

.will_not_indicate_on {
	background-color: red;
}


.component_container {
	float: right;
	width: 480px;
	overflow-y: auto;
	height: 420px;
	background-color: royalBlue;
	border-radius: 10px 10px 10px 10px;
	margin: auto;


}

.meal_container {
	background-color: orange;
	height: auto;
	width: 100%;
	height: 500px;
	margin: 20px;
	margin: auto;
	border-bottom: 1px solid black;
}

.components_header {
	background-color: blue;
	width: 100%;
	margin-top: 0px;
	text-align: center;
}

.components_to_select {
	background-color: blue;
	width: 200px;
	overflow-y:auto;

}

.selected_components {
	background-color: pink;
	width: 200px;
}

#components_to_select_container {
	width: 201px;
	float: left;
}

#selected_components_container {
	float: right;
	width:201px;
}





.loginContainer {
	width: 400px;
	height: 280px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 10px 10px 10px 10px;


}

.center {
	margin: 0 auto;
}

.loginContainerHeader {
	width: 400px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	color: white;
	margin-bottom: 10px;
	font-family: 'Tahoma';
}

.loginText {
    margin-left: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
	display: inline;
}

.loginDetails {

		font-family: 'Tahoma';

    width: 250px;
    font-size: 20px;
    height: 30px;

    margin-top: 3px;
    padding-left: 10px;

    margin-left:  10px;
    border: none;
    border-radius: 10px 10px 10px 10px;
}



input:invalid {
	box-shadow: none;

}


.loginDetails :focus {
	  box-shadow: 0 0 5px rgba(81, 203, 238, 1);

  border: 1px solid rgba(81, 203, 238, 1);

  border-radius: 10px 10px 10px 10px;
  outline: 0;

}

input[type=text]:focus, textarea:focus, input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);

  border: 1px solid rgba(81, 203, 238, 1);

  border-radius: 10px 10px 10px 10px;
  outline: 0;

}




.loginButton {
   border-radius: 10px 10px 10px 10px;
   border: 1px solid white;
   background-color: transparent;
   color: white;
   width: 200px;
   font-size: 30px;
   margin-top: 20px;
   margin-left: 100px;
   font-family: 'Georgia', 'serif';
   text-decoration: none;
   vertical-align: middle;

   }

.loginButton:hover {
	cursor: pointer;
	background-color: #186C8E;

}



.navList {
padding-top:8px;
text-align:center;
color: #066E95;
width:216px;
margin-left: 80px;
height:45px;
font-family: 'Baskerville Old Face';
font-size: 25px;
text-decoration: none;
}

.subMenu ul {

list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
text-decoration: none;


}


.subMenu li {
	float: left;

}

