<div
    class="components_for_meal"
    ng-show="is_selected_meal()"
    >
    <p
        class="meal_date_time"
        >
        Event date: {{ convertMealDateTime(selected_meal.date_and_time) }}
    </p>
    <p
        class="meal_deadline"
        >
        Deadline: {{ convertMealDateTime(selected_meal.deadline) }}
    </p>
	<!--
    <img
        src="images/close.png"
        alt="close"
        ng-click="reset_selected_meal()"
        />

	-->
    <form
        ng-init="going = true"
        ng-submit="indicate(selected_meal.id, going)"
        >
        <p
            >
            Will you be attending this event?
            <br />
            <input
				class="radioButton" 
                id="going_to_meal" 
                type="radio" 
                name="indicate_is_going" 
                ng-model="going"
                data-ng-value="true"
                checked
                >
                Yes
            <br />
            <input 
				class="radioButton"
                id="going_to_meal" 
                type="radio" 
                name="indicate_is_going" 
                ng-model="going"
                data-ng-value="false"
                >
                No
        </p>
	
		Please select a single meal from the meals available:
        <p
            ng-repeat="component in components"
            ng-show="going"
            ng-click="set_selected_component(component.id)"
            ng-class="{ 'will_indicate_on': is_component_selected(component.id), 'will_not_indicate_on': !is_component_selected(component.id), }"
            >
            {{ component.name }}
        </p>

		<div id="buttonContainer">
        <input 
            class="submit_indication_meal" 
            type="submit" 
            value="Submit"
            >
		</div>

    </form>
	<div>
	<button class="closeButton" ng-click="reset_selected_meal()">Cancel</button>
	</div>
</div>
