<!-- user name and log out button -->
<header class="menuTop">

		<img class="logoSmall" src="images/logo.png">

		        <p
            class="logoutButton"
            ng-click="logout()"
            >
            Sign out
        </p>


		<p
			class="loggedInAs"
			>Welcome to FeedMe, <span class="greeting"> {{ user.name }}</span>
		</p>
</header>

<div class="mealInstructionsContainer">

	<h1 class="bigLetter">M</h1><h1 class="restOfLetters">eal preferences</h1>
	<p class="preferenceInstructions">Please select a meal event from the event list provided and then choose your preferences.</p>

</div>

<!-- list of meals
	opens a new div from which the person can indicate -->

<div class="customerBody">

<div class="meal_list_container">

	<h1 class="subtitle">Event list</h1>

<div
	ng-repeat="meal in meals"
	ng-show="meals_present()"
	class="show_meal_div"
	>
	<p
		ng-click="set_selected_meal(meal)"
		class="meal_date_time"
		>
		{{ convertMealDateTime(meal.date_and_time) }}
	</p>
</div>
</div>
<!-- a div that can be a popup or be positioned on the screen -->
<div class="subheader">
	<h1 class="subtitle">Your preferences</h1>
</div>
<div
	ng-include="'pages/form.html'"
	>
</div>

</div>
