<div class="loginPageLogo"><img src="images/logo.png"></div>

<div class="loginContainerHeader"><h3>Sign in to your account</h3></div>


<div class="loginContainer">

<form
	id="login_form_homepage"
	name="login_form"
	>
		<input
			class="loginDetails"
			type="text"
			name="username"
			placeholder="Username"
			id="login_username"
			ng-model="customer.username"
			required
			>
		<br/>
		<input
			class="loginDetails"
			type="password"
			name="password"
			placeholder="Password"
			id="login_password"
			ng-model="customer.password"
			required
			>
		<br/>
		<br/>
		<input
			class="loginButton"
			type="submit"
			value="Sign in"
			ng-click="login(customer)"
			>
</form>
</div>
