/*
styles that are to remain consistant throughout the site on multiple items
*/
body {
	background-image: -ms-radial-gradient(center, circle farthest-corner, #0992C2 0%, #003A57 100%);

/* Mozilla Firefox */
background-image: -moz-radial-gradient(center, circle farthest-corner, #0992C2 0%, #003A57 100%);

/* Opera */
background-image: -o-radial-gradient(center, circle farthest-corner, #0992C2 0%, #003A57 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #0992C2), color-stop(1, #003A57));

/* Webkit (Chrome 11+) */
background-image: -webkit-radial-gradient(center, circle farthest-corner, #0992C2 0%, #003A57 100%);

/* W3C Markup, IE10 Release Preview */
background-image: radial-gradient(circle farthest-corner at center, #0992C2 0%, #003A57 100%);
    background-attachment: fixed;

    margin: 0px;
    padding: 0px;



}

.loginContainerHeader {
    width: 400px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 50px;
	margin-bottom: 10px;
    font-family: 'Tahoma';
}

.loginDetails {

        font-family: 'Tahoma';

    width: 250px;
    font-size: 20px;
    height: 30px;

    margin-top: 6px;
    padding-left: 10px;

    margin-left:  10px;
    border: none;
    border-radius: 10px 10px 10px 10px;
}



input:invalid {
    box-shadow: none;

}

.loginDetails :focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);

  border: 1px solid rgba(81, 203, 238, 1);

  border-radius: 10px 10px 10px 10px;
  outline: 0;

}

input[type=text]:focus, textarea:focus, input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);

  border: 1px solid rgba(81, 203, 238, 1);

  border-radius: 10px 10px 10px 10px;
  outline: 0;

}

.loginButton {
   border-radius: 10px 10px 10px 10px;
   border: 1px solid white;
   background-color: transparent;
   color: white;
   width: 200px;
   font-size: 30px;
   margin-top: 20px;
   margin-left: 100px;
   font-family: 'Georgia', 'serif';
   text-decoration: none;
   vertical-align: middle;

   }

.loginButton:hover {
    cursor: pointer;
    background-color: #186C8E;

}

.loginButton {
   border-radius: 10px 10px 10px 10px;
   border: 1px solid white;
   background-color: transparent;
   color: white;
   width: 200px;
   font-size: 30px;
   margin-top: 10px;
   font-family: 'Georgia', 'serif';
   text-decoration: none;
   vertical-align: middle;
	margin-left: 0px;
   }

.loginButton:hover {
    cursor: pointer;
    background-color: #186C8E;

}

.loginContainer {
	margin: 0 auto;
	text-align: center;
}

.loginPageLogo {
	margin: 0 auto;
	text-align: center;
	margin-top: 80px;
	
}

.loginPageLogo img {
	width: 700px;
}

.menuTop {
    background-color: #0A192C;
    height: 70px;
    width: 100%;
}


.logoSmall {
	width: 200px;
	margin-left: 20px;
	display: inline;
	margin-right: 30px;
	float: left;
	margin-top: 15px;
}


.logoutButton {
    font-size: 20px;
    height: 25px;
	display: inline;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: white;

    margin-left: 80px;
    margin-right: 20px;

    border: 0px solid cyan;
    border-radius: 5px 5px 5px 5px;
    opacity: 0.8;
	
	white-space: nowrap;	

	float: right;
    font-family: 'Tahoma','serif';
    letter-spacing: 3px;
}

.logoutButton:hover {
	cursor: pointer;
	color: orange;
	transition: color 1s ease;
}

.loggedInAs {
	    font-size: 20px;
    height: 25px;
	display: inline;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

	position: absolute;

	margin-left: 400px;
	float: left;
	white-space: nowrap;

    color: white;
	white-space: nowrap;

	margin: 0 auto;
	margin-top: 20px;
    border: 0px solid cyan;
    border-radius: 5px 5px 5px 5px;
    opacity: 0.8;

    font-family: 'Tahoma','serif';
    letter-spacing: 3px;

}

.greeting {
	color: orange;
}

/*
login screen styles
*/


.radioButton:hover {
	cursor: pointer;

}


.show_meal_div {

	cursor: pointer;
	display: block;
	border-bottom: solid black 1px;
	background-color: deepskyblue;
}

.show_meal_div p {
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	font-family: 'Tahoma';
}


.components_for_meal {

	position: relative;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	
	background: rgba(204, 204, 204, 0.1);

	border-radius: 0px 0px 10px 10px;	

	font-size: 20px;

	width: 300px;
	float: right;
	
}
/*For the entire meal list*/
.meal_list_container {

	background: rgba(204, 204, 204, 0.1);

	border-radius: 10px 10px 0px 0px;

	width: 400px;
	float: left;
}

/*Holds the meal list and the preferences*/
.customerBody {
	width: 750px;
	margin: 0 auto;
}

.mealInstructionsContainer {
	margin: 0 auto;
	width: 100%;
	text-align: center;


	
	    height: 100%;
    width: 900px;

    background: rgba(204, 204, 204, 0.1);

    margin-top: 120px;

    z-index:2;

    border-radius: 20px 20px 20px 20px;

	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 30px;

}

.bigLetter {
        z-index:1;
    color: #84804A;
    font-size: 150px;
    position: absolute;
    margin: -115px 0 0 -70px;


}

.restOfLetters {
        font-size: 70px;
        position: absolute;
        z-index:1;
        margin: -60px 0 0 60px;
        color: #003753;

}

.preferenceInstructions {
	color: white;
	margin-top: 30px;

	font-size: 20px;
	font-family: 'Tahoma';
}

.subtitle {
	padding: 0;
	margin: 0;
	color: orange;
	opacity: 0.7;
	font-family: 'Tahoma';
	font-weight: normal;
	text-align: center;
}

.subheader {
	float: right;
	width: 340px;
	background: rgba(204, 204, 204, 0.1);

	border-radius: 10px 10px 0px 0px;
}







.show_meal_components_div {
	background-color: blue;
}

#going_to_meal {
	width: 20px;
}

.will_indicate_on {
	background-color: orange;
	text-align: center;
	border-radius: 3px 3px 3px 3px;
}

.will_not_indicate_on {
	background-color: #C9CDD0;
	text-align: center;
	    border-radius: 3px 3px 3px 3px;

}

.will_indicate_on:hover {
	cursor: pointer;

}

.will_not_indicate_on:hover {
	cursor: pointer;

}


#buttonContainer {
	width: 100%;

}

.submit_indication_meal {
	width: 40%;
	float: right;
	font-size: 20px;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 5px 5px 5px 5px;
}

.submit_indication_meal:hover {
	cursor: pointer;
	background-color: orange;
	transition: background-color 1s ease;
}

.closeButton {
	width: 40%;
	float: left;
	font-size: 20px;
	background-color: transparent;
	border: none;
	outline: none;
}

.closeButton:hover {
	cursor: pointer;
	color: orange;
	transition: color 1s ease;
	opacity: 0.8;
}

.meal_deadline {
	background-color: brown;
}

.meal_date_time {
}


