    <h1 class="bigLetter">C</h1>
    <h1 class="restOfLetters">ustomers</h1>






<!--put sub menu here using tab -->
<!-- sub menu items are ng hide on their own tab index-->

<div class="subMenu">
	 <ul class="">
     	<li class="">
        	<a 
          	class="subButton"
            href ng-click="setTab(0); get_all_customers()">View Components</a>
        </li>
        <li class="">
            <a
            class="subButton" 
            href ng-click="setTab(1)">Add Component</a>
        </li>
	</ul>
</div>

<div class="show_sub_pages">
	<div ng-show="check_tab_same(0)" ng-include="'pages/customer_pages/view.html'">
	</div>

	<div ng-show="check_tab_same(1)" ng-include="'pages/customer_pages/add.html'">
    </div>

</div>
