    <h1 class="bigLetterMeal">M</h1>
    <h1 class="restOfLettersMeal">eals</h1>

<!--put sub menu here using tab -->
<!-- sub menu items are ng hide on their own tab index-->

<div class="subMenu">
	 <ul class="">
     	<li class="">
        	<a 
          	class="subButton"
            href ng-click="setTab(0); get_all()">View All Meals</a>
        </li>
        <li class="">
            <a 
            class="subButton"
            href ng-click="setTab(0); get_future()">View Future Meals</a>
        </li>
        <li class="">
            <a 
            class="subButton"
            href ng-click="setTab(0); get_past()">View Past Meals</a>
        </li>
        <li class="">
            <a
            class="subButton" 
            href ng-click="setTab(1); get_components()">Add Meal</a>
        </li>
	</ul>
</div>

<div class="show_sub_pages">
	<div ng-show="check_tab_same(0)" ng-include="'pages/meal_pages/view.html'">
	</div>

	<div ng-show="check_tab_same(1)" ng-include="'pages/meal_pages/add.html'">
    </div>

</div>
