<form name="addMealForm" id="addMealForm">
<div id="addMealFormDiv">

<div id="addFormHeader">
	<h2 class="addFormHeaderText">Add Meal</h2>
	<p class="formInstructions">Please enter the meal details in the fields below</p>
</div>


<div id="mealFormContentContainer">



	<div 
		id="date_time_location">
		<p class="mealNote">Note: The date and time of meal must come after the meal deadline</p><br /> <br /> 

		<p class="formFieldName">
			Date and time of meal
		</p>
		<input 
			id="meal_date" 
			type="text"
			class="mealdatetime"
			placeholder="Meal late and time" 
			name="date_and_time" 
			ng-model="meal_to_add.date_and_time" 
			required 
			/>
		<p class="formFieldName">
			Meal deadLine:
		</p>
		<input 
			id="meal_deadline" 
			type="text"
			class="mealdatetime"
			placeholder="Meal deadline" 
			name="deadline" 
			ng-model="meal_to_add.deadline" 
			required 
			/>
		<p class="formFieldName">
			Meal location:
		</p><br />
		<input 
			id="meal_location" 
			type="text"
			class="formDetails" 
			placeholder="Meal location" 
			name="formDetails" 
			ng-model="meal_to_add.location" 
			required 
			/>
		<br />
		
<!--
			<input 
			type="submit" 
			value="Add" 
			ng-click="add_meal(meal_to_add)" 
			/>

-->
	</div>
	<div 
		id="component_addition"
		>
		<div 
			id="add_components_to_meal"
			>
			<p class="formFieldName">
				Select some components to add
			</p>
			<div 
				ng-repeat="component in get_all_components()"
				>
				<p 
					ng-click="add_component_to_list(component.id)">
					{{component.name}}
				</p>
			</div>
		</div>
		<table 
			id="remove_component_from_meal"
			>
			<th>
				Components currently in Meal
			</th>
			<tr 
				ng-repeat="component in components"
				ng-show="check_component_in_list(component.id)"
				>
				<td
					class="component_name"
					>
					{{component.name}}
				</td>
				<td
					class="remove"
					ng-click="remove_component_from_list(component.id)"
					>
					Remove From Meal
				</td>
			</tr>
		</table>
	</div>
	</div>

<div id="addMealFormFooter">

<button type="submit" class="formConfirmButton close" ng-click="add_meal(meal_to_add); ">Confirm</button>

   <button id="closeFormButton" class="formCancelButton close">Cancel</button>



</div>





	<script type=text/javascript">
		$('#meal_date').datetimepicker();
	</script>

	<script type=text/javascript">
        $('#meal_deadline').datetimepicker();
    </script>


</form>
