<h2>Add Customer</h2>

<form name="addCustomerForm" id="addCustomerForm">
<div id="addForm">

<div id="addFormHeader">
	<h2 class="addFormHeaderText">Update Customer</h2>
	<p class="formInstructions">Please enter the customer details in the fields below</p>
</div>
<div id="formContentContainer">

	<p class="formFieldName">Desired Name:</p>
	<input class="formDetails" type="text" placeholder="Name" ng-model="customer_to_add.name" required />
	<br />
	<p class="formFieldName">Desired Username:</p>
	<input class="formDetails" type="text" placeholder="Username" ng-model="customer_to_add.username" required></input>
	<p class="formFieldName">Desired Password:</p>
	<input class="formDetails" type="password" placeholder="Password" ng-model="customer_to_add.password" required></input>
	<p class="formFieldName">Confirm Password:</p>
	<input class="formDetails" type="password" placeholder="Password Confirmation" ng-model="customer_to_add.password_confirmation" required></input>
</div>

<div id="addFormFooter">

<button type="button" class="formConfirmButton close" ng-click="add_customer(customer_to_add); customer_to_add = {}">Confirm</button>

<button id="closeFormButton" class="formCancelButton close">Cancel</button>



</div>
</div>
</form>

