<div class="viewContainer">
<table class="tableView">
	<tr>
		<th>Name</th>
	</tr>
</table>
	<div class="staff_for_edit" ng-repeat="staff_member in get_staff()">
    	<table class="tableView">
			<tr>
				<td>
					<p class="staff_member_name">{{staff_member.name}}</p>
				</td>
		<!--
    	<img src="images/update.png" class="buttonHover" ng-click="set_focus_edit(staff_member)" />
		<div ng-show="get_show_edit(staff.id)">
			<form >
		    	<hr>
				<p>Desired Name:</p>
				<input id="textField" type="text" ng-model="staff_member.name" required />
		    	<br />
		    	<p>Desired Username:</p>
		    	<input id="textArea" type="text" ng-model="staff_member.username" required></input>
			
		   		<input id="submit" type="submit" value="Save Changes" ng-click="edit_staff(staff_member); get_all_staff()" />
			</form>
		</div>
		-->
			</tr>
		</table>
	</div>
</div>



