<div
	class="login_header_logo"
	>
	<img
		src="images/logo.png"
		class="login_header_logo"
		>
</div>
<div
	class="loginContainerHeader"
	>
	<h3
		>
		Sign in to your account
	</h3>
</div>
<form
	id="login_form_homepage"
	name="login_form"
	>
	<table 
		class="center"
		>
		<tr>
			<td>
				<input
					type="text"
					name="username" 
					id="login_username" 
					class="loginDetails"
					placeholder="Username"
					ng-model="username"
					required
					>
			</td>
		</tr>
		<tr>
			<td>
				<input
					type="password" 
					name="password" 
					id="login_password" 
					class="loginDetails"
					placeholder="Password"
					ng-model="password" 
					required
					>
			</td>
		</tr>
		<tr>
			<td>
				<input
       				type="submit"
       				value="Sign in"
       				class="loginButton"
        			ng-click="login(username, password)"
        			>
			</td>
		</tr>
	</table>
</form>
